body {
    margin: 0;
}

* {box-sizing: border-box;}
    
.container{
    width: 100vw;
    height: 100vh;
}

.hero {
    width: 100vw;
    height: 30%;
    background-color: #1F2937;
}

.information {
    width: 100vw;
    height: 25%;
}

.quotes {
    width: 100vw;
    height: 20%;
    background-color: #E5E7EB;
}

.action {
    width: 100vw;
    height: 20%;
}

.footer {
    width: 100vw;
    height: 5%;
    background-color: #1F2937;
}
