body {
    margin: 0;
    font-family: Roboto;
    
}

* {box-sizing: border-box;}
    
.container{
    width: 100vw;
    height: 150vh;
}

.navbar {
    width: 100vw;
    height: 10%;
    background-color: #1F2937;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#header-logo {
    color: #F9FAF8;
    font-size: 24px;
    margin-left: 60px;
}

#header-link {
    color: #E5E7Eb;
    font-size: 18px;
    margin-right: 60px;
}

#header-link ul {
    list-style: none;
}

ul li {
    display: inline;
    padding: 10px;
}

.hero {
    width: 100vw;
    height: 25%;
    background-color: #1F2937;
}

#main-text {
    margin-left: 60px;
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    padding-top: 20px;
}

#secondary-text {
    margin-left: 60px;
    color: #E5E7Eb;
    font-size: 18px;
    margin-top: 10px;
}

.button {
    margin-left: 60px;
}

.button > button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 8px 14px;
    margin-top: 15px;
    font-family: Roboto;
    border: none;
    border-radius: 10px;
    width: 7%;
    font-weight: bold;
}

.information {
    width: 100vw;
    height: 20%;
}

.quotes {
    width: 100vw;
    height: 20%;
    background-color: #E5E7EB;
}

.action {
    width: 100vw;
    height: 20%;
}

.footer {
    width: 100vw;
    height: 5%;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
}

